/*html {
padding: 8px 25px;
list-style: none;
background: #282828;
color: #ffffff; 
font-family: monospace; }
*/


body{
  padding: 40px;
  margin: auto; 
}

.current-row {
  background-color:#B24926;
  color:#FFF;
}

.current-col {
  background-color:#5d501c;
  color:#FFF;
}

.tbl-qa {
  width: 100%;
  font-size:1.5em;
  color: black;
  background-color:
  #5d501c;
  text-align:center;
}

.tbl-qa th.table-header {
  padding: 5px;
  text-align: left;
  padding:10px;
  text-align:center;
}

.tbl-qa .table-row td {
  padding:3px;
  background-color: #FDFDFD;
}

.cell {
  text-align:left;
}

.hidden {
  display: none;
}

.login {
  width: 350px;
  height: 120px;
  border-radius: 20px;
  background: #eee;
  margin: 50px auto;
  padding: 20px;
}
